/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');
body
{
    padding: 60px 0;

    background-color: rgb(220, 220, 220);
}

.event-list
{
    font-family: 'Lato', sans-serif;

    margin: 0;
    padding: 0;

    list-style: none;
}
.event-list > li
{
    margin: 0 0 20px;
    padding: 0;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(51, 51, 51, .7);
}
.event-list > li > time
{
    display: inline-block;

    width: 100%;
    padding: 5px;

    text-align: center;
    text-transform: uppercase;

    /*color: rgb(255, 255, 255);*/
    /*background-color: rgb(197, 44, 102);*/
}
.event-list > li:nth-child(even) > time
{
    background-color: rgb(165, 82, 167);
}
.event-list > li > time > span
{
    display: none;
}
.event-list > li > time > .day
{
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;

    display: block;
}
.event-list > li time > .month
{
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;

    display: block;
}
.event-list > li > img
{
    width: 100%;
}
.event-list > li > .info
{
    padding-top: 5px;

    text-align: center;
}
.event-list > li > .info > .title
{
    font-size: 17pt;
    font-weight: 700;

    margin: 0;
}
.event-list > li > .info > .desc
{
    font-size: 13pt;
    font-weight: 300;

    margin: 0;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul
{
    display: table;

    width: 100%;
    margin: 10px 0 0;
    padding: 0;

    list-style: none;

    text-align: center;
}
.event-list > li > .social > ul
{
    margin: 0;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li
{
    font-size: 11pt;
    font-weight: 300;

    display: table-cell;

    padding: 3px 0;

    cursor: pointer;

    color: rgb(30, 30, 30);
}
.event-list > li > .info > ul > li > a
{
    display: block;

    width: 100%;

    text-decoration: none;

    color: rgb(30, 30, 30);
}
.event-list > li > .social > ul > li
{
    padding: 0;
}
.event-list > li > .social > ul > li > a
{
    padding: 3px 0;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover
{
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a
{
    display: block;

    width: 100%;

    color: rgb(75, 110, 168) !important;
}
.twitter a
{
    color: rgb(79, 213, 248) !important;
}
.google-plus a
{
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a
{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a
{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a
{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px)
{
    .event-list > li
    {
        position: relative;

        display: block;

        width: 100%;
        height: 120px;
        padding: 0;
    }
    .event-list > li > time,
    .event-list > li > img
    {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img
    {
        float: left;

        width: 120px;
    }
    .event-list > li > .info
    {
        overflow: hidden;

        background-color: rgb(245, 245, 245);
    }
    .event-list > li > time,
    .event-list > li > img
    {
        width: 120px;
        height: 120px;
        margin: 0;
        padding: 0;
    }
    .event-list > li > .info
    {
        position: relative;

        height: 120px;
        padding-right: 40px;

        text-align: left;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc
    {
        padding: 0 10px;
    }
    .event-list > li > .info > ul
    {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .event-list > li > .social
    {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 40px;
    }
    .event-list > li > .social > ul
    {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li
    {
        display: block;

        padding: 0;
    }
    .event-list > li > .social > ul > li > a
    {
        display: block;

        width: 40px;
        padding: 10px 0 9px;
    }
}

.portfolio-item
{
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
