<div class="container">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">E-learing
        <small>Categories</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <div class="container">
    <!-- Projects Row -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
        <label>E-learing Πληροφορική</label>
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
        <label>E-learing Οικονομικά</label>
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
        <label>E-learing Οργάνωση και Διοίκηση</label>
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 portfolio-item">
        <label>E-learing Sound/Photo/Video</label>
        <a href="#">
          <img class="img-responsive" src="http://placehold.it/750x750/000000/ffffff" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
